.option-page {
  min-height: 100vh;
  margin: 0;
  padding: 0; 
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
  box-sizing: border-box;
}

.option-title {
    flex: 1;
    padding-top: 10px;
    padding-bottom: 0px;
    font-size: 30px;
  }

.option-question{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 25px;
}

.input-container {
    position: relative; 
    width: 800px;
    max-width: 800px; 
    height: 40px; 
    margin: 0 auto;
  }
  
  .textbox {
    width: 100%;
    height: 100%; 
    padding-right: 50px;
    padding-left: 20px;
    border: 2px solid black;
    border-radius: 20px;
    font-size: 20px;
    box-sizing: border-box; 
  }
  
  .textbox:focus {
    background-color: rgb(243, 243, 243);
    border: 3px solid black;
    box-shadow: 0 0 10px rgba(40, 167, 69, 0.5);
  }
  
  .continue-but {
    position: absolute;
    top: 50%; 
    right: 0px; 
    transform: translateY(-50%);
    background-color: #000000;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .continue-but.disabled {
    color: grey;
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .continue-but.active {
    color: white;
    opacity: 1;
    cursor: pointer;
  }
  
  .continue-but.active:hover {
    background-color: #0056b3;
  }
  
  .similar-results-label{
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding-top: 20px;
    font-weight: 600;
  }

  .similar-results-table {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .table-row {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  .table-row p {
    margin-right: 10px;
    font-weight: bold;
  }
  
  .question-link {
    color: #007bff;
    text-decoration: none;
  }
  
  .question-link:hover {
    text-decoration: underline;
  }